@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: var(--padding-default);
}

@media (max-width: 640px) {
  :root {
    --padding-default: 0.75rem;
  }

  #app {
    padding-left: var(--padding-default);
    padding-right: var(--padding-default);
  }
}

@media (min-width: 641px) and (max-width: 1024px) {
  :root {
    --padding-default: 1rem;
  }
}

@media (min-width: 1025px) {
  :root {
    --padding-default: 2rem;
  }
}